* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Inter', sans-serif;
}
.nav {
  width: 80%;
}
header {
  background-color: #e8e8e8;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
nav {
  float: right;
  margin-right: -50px;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-top: -3px;
  margin-left: 70px;
  padding-top: 30px;
  position: relative;
}
nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.nav > li {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}
.nav a:link {
  color: #000000;
  text-decoration: none;
}
.nav a:visited {
  color: #000000;
  text-decoration: none;
}
.nav a:hover {
  color: #0000CD;
  text-decoration: none;
}
#logo {
  margin-left: 10px;
  padding: 10px 0;
}
#sub-menu {
  padding-left: 10px;
}
